body {
  margin: 0;
  padding: 0;
  background: #000000;
  overflow: hidden;
}

.control {
  position: fixed;
  bottom: 0; right: 0;
  margin: 20px;
  background: rgba(128, 156, 165, 0.445);
  max-width: 50vw; max-height: 50vh;
  color: white;
  text-align: center;
}

.control:hover {
  background: rgba(76, 85, 88, 0.705);
  transition: all .3s;
}

.control ul {
  list-style: none;
  transform: translateX(-1em)
}

.control button {
  border: 1px solid white;
  background: none;
  color: white;
  padding: 5px;
  cursor: pointer;
}